body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.page{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(238,238,238);
    position: relative;
}
.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: sticky;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    top: 0;
     background-color: rgb(238,238,238);
}
img{
    height: 60px;
    width: 300px;
    object-fit: fill;
}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    z-index: 1;
}
a{
    text-decoration: none;
    margin-right: 60px;
    color: black;
}
.left{
    display: flex;
    flex-grow: 1;
}
.craft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
button{
    padding: 10px;
    background-color: rgb(241,196,15);
    text-transform: uppercase;
    margin-top: 30px;
    border: 0ch;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
input{
    height: 20px;
    width: 280px;
}
.main{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.text{
    display: flex;
    flex-direction: column;
}
.cardcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   padding: 20px;
}
.card{
   border: solid; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0%;
   margin: 20px;
}
.header{
     width: 20vw;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color:#DDDDDD ;
   padding:10px;

}
.card button{
    margin-bottom: 40px;
}
footer{
    display: flex;
    align-items: flex-end;
    height: 80px;
    width: 80%;
    background-color: #DDDDDD;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}